.paymentWrapper {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  overflow-x: hidden;
  transition: all 0.4s;
  z-index: 99999;
  justify-content: center;
  background: var(--lightest);
  &.close {
    top: 100%;
    height: 0;
  }
}

.paymentMain {
  max-width: 800px;
  background: white;
  flex: 1;
  flex-direction: column;
  margin-bottom: 60rem;

  .paymentHeader {
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .back {
    }

    .title {
      font-weight: bold;
    }
  }

  .section {
    padding: 2rem;
    flex-direction: column;

    .time,
    .title,
    .classTitle {
      margin-bottom: 1rem;
    }
    .classTitle {
      font-size: 1.8rem;
      font-weight: bold;
    }

    .titleContainer {
      font-weight: bold;
      justify-content: space-between;
    }

    .extra {
      color: grey;
    }
  }
}

.paymentForm {
  margin-top: 1rem;
  flex-direction: column;
}

.inputContainer {
  input {
    flex: 1;
  }
}
