.classDetailWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--header-height) 0;
  max-width: 86rem;
  margin: 0 auto;
}

.heroImage {
  height: 25rem;
  flex: 1;
  position: relative;
  background: var(--off-white);
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .back {
    background: white;
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    border-radius: 50%;
  }
  .timeLabel {
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
    background: rgba(255, 255, 255, 1);
    padding: 1rem 1rem;
    border-radius: 4px;
  }
}

.main {
  padding: 2rem 0;
  flex-direction: column;
  > div {
    padding-left: 2rem;
  }
  .mainTitle {
    font-size: 3rem;
  }
  .address {
    color: var(--grey);
    margin-bottom: 2rem;
  }
  .description {
    color: var(--grey);
  }
}

.section {
  padding: 2rem;
  .title {
    font-weight: bold;
  }
}

.instructorAvatar {
  width: 5rem;
  border-radius: 50%;
}
.well {
  border-bottom: 1px solid var(--off-white);
  padding: 1.6rem;
  display: flex;
  align-items: center;
  .wellIcon {
    margin-right: 1.6rem;
    align-self: flex-start;
  }
  .wellMain {
    flex: 1;
    flex-direction: column;
    .wellDescription {
      color: var(--grey);
    }
  }
  .wellAction {
    flex-direction: column;
    justify-content: center;
  }
}

.priceLabel {
  font-size: 1.3rem;
}
