:root {
  --light-blue: hsla(228, 100%, 95%, 1);
  --brand-blue: rgba(25, 72, 255, 1);
  --aqua: rgba(18, 190, 199, 1);
  --lightest: hsl(0, 0%, 99%);
  --off-white: hsl(0, 0%, 91%);
  --grey: hsl(0, 0%, 50%);
  --off-black: hsl(0, 0%, 20%);

  --font-color-default: var(--off-black);
  --background-active: var(--grey60);
  --button-border: var(--grey60);

  --header-height: 7.5rem;
  --mobile-width: 37.5rem;
  /*
  --red0: #fbe5e2;
  --red1: #f29f97;
  --red2: #e74c3c;
  --red3: #c72918;
  --red4: #6c160d;
  --red5: #3f0d08;

  --green0: #f8fdfa;
  --green1: #52d88b;
  --green2: #60d078;
  --green3: #62d078;
  --green4: #27ae60;
  --green5: #1e8449;
  --green6: #145b32;
  --green7: #114d2a;
  --green8: #082313;
  --green-text: var(--green3);

  --grey00: hsl(0, 0%, 96%);
  --grey10: hsl(0, 0%, 91%);
  --grey20: hsl(0, 0%, 83%);
  --grey30: hsl(219, 12%, 61%);
  --grey40: hsl(0, 0%, 60%);
  --grey50: hsl(0, 0%, 50%);
  --grey60: hsl(0, 0%, 25%);
  --grey80: hsl(0, 0%, 20%);
  --grey90: hsl(0, 0%, 16%);
  --grey80: hsl(0, 0%, 14%);

  --grey00: #f6f6f6;
  --grey10: #e5e5e5;
  --grey20: #d4d4d4;
  --grey30: #9199a8;
  --grey40: #999;
  --grey50: #6e6e6e;
  --grey60: #383d47;
  --grey70: #282d3a;
  --grey80: #1c1f29;
  --grey90: #1f2432;
  */
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Mark Simonson - Proxima Nova Regular', 'Helvetica Neue', arial,
    sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  font-size: 1.6rem;
  height: 100%;
  flex-direction: column;
}

div,
form {
  display: flex;
  transition: all 0.3s;
}

div[flex] {
  flex: 1;
}

div[column] {
  flex-direction: column;
}

div[jc='center'] {
  justify-content: center;
}

div[ai='center'] {
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--off-black);
}

button {
  outline: none;
  border: none;
  background: none;
}

.blur {
  filter: blur(0.5rem);
}

.rightArrow {
  background: url('../assets/images/chevron.svg') no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 1.2rem;
  height: 5rem;
  width: 5rem;
}

.leftArrow {
  background: url('../assets/images/chevron.svg') no-repeat;
  background-position: center;
  cursor: pointer;
  transform: rotate(180deg);
  background-size: 1.2rem;
  height: 5rem;
  width: 5rem;
}

.directions {
  background: url('../assets/images/directions.svg') no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 7rem;
  height: 5rem;
  width: 5rem;
}

.shrug {
  background: url('../assets/images/shrug.svg') no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 12rem;
  height: 12rem;
  width: 12rem;
}

.cow {
  background: url('../assets/images/cow.svg') no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 12rem;
  height: 12rem;
  width: 12rem;
}

.hide {
  opacity: 0;
  width: 0;
  height: 0;
}

.hide * {
  display: none;
}

input {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 3px;
  border: 1px solid var(--off-white);
}

.hr {
  border-bottom: 1px solid var(--off-white);
}

input,
.StripeElement {
  display: block;
  height: 4rem;

  margin-bottom: 2rem;
  padding: 1rem 1.2rem;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  border: 1px solid var(--off-white);
  transition: all 0.3s;
}

#payment-request-button {
  padding: 0;
  box-shadow: 0 1px 3px 0 #e6ebf1;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  outline: 0;
}

input.invalid,
.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.bottom {
  margin-bottom: 7.5rem;
}

.errorContainer {
  padding: 1rem;
  background: #fbbc03;
  color: white;
  font-weight: bold;
}

.tick {
  background: url('../assets/images/tick.svg') no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 1.2rem;
  height: 2rem;
  width: 2rem;
}
