.search {
  flex: 1;
  flex-direction: column;
}

.listItems {
  flex-direction: column;
  margin-bottom: 30rem;
}

.infoWrapper {
  position: fixed;
  top: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 1;

  .infoMessage {
    flex-direction: column;
    border-radius: 10px;
    background: var(--light-blue);
    padding: 3rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    .infoIcon {
      display: flex;
    }
    .title {
      font-weight: bold;
      color: var(--brand-blue);
      font-size: 1.3rem;
    }
  }
}

.listItemWrapper {
  margin-top: 1rem;
  flex: 1;
  border-bottom: 1px solid var(--off-white);
  display: flex;
  position: relative;
  .listItemLink {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .listItem {
    cursor: pointer;
    flex: 1;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    .listItemAction,
    .listItemMain,
    .listItemAside {
      flex-direction: column;
    }

    .listItemAction {
      .itemActionLink {
        display: flex;
        flex: 1;
        justify-content: center;
        flex-direction: column;
      }
    }

    .listItemAside {
      padding: 0 1rem;
      .startTime {
        color: var(--grey);
        padding: 1rem 1rem 1rem 0;
      }
      .price {
        font-weight: bold;
      }
    }

    .listItemMain {
      flex: 1;
      .category {
        color: var(--brand-blue);
        font-weight: bold;
        padding: 1rem 1rem 1rem 0;
        font-size: 1.5rem;
      }
      .title {
        font-weight: bold;
        font-size: 1.7rem;
        padding-bottom: 0.8rem;
      }
      .venue {
        font-weight: bold;
        font-size: 1.4rem;
        color: var(--grey);
        flex-direction: column;
        padding-bottom: 0.8rem;
      }
      .instructor {
        align-items: center;
        padding: 2rem 0;
        font-weight: bold;

        img {
          height: 3.5rem;
          border-radius: 50px;
          border: 1px solid var(--off-white);
          margin-right: 2rem;
          max-width: 3.5rem;
          font-size: 0.1rem;
        }
      }
    }
  }
}

.filtersButtonWrapper {
  width: fit-content;
  position: fixed;
  bottom: 4rem;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  .filtersButtonContainer {
    border: 1px solid var(--off-white);
    background: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem 1px #e9e9e9;

    a.filtersButton {
      display: flex;
      padding: 1rem 2rem;
      color: var(--off-black);
      font-weight: bold;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        border-right: 1px solid var(--off-white);
      }
      .filterIcon {
        margin-right: 1rem;
        background: url('../../assets/images/filters.svg') no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 3rem;
        height: 3rem;
        width: 3rem;
      }
      .filterCount {
        background: var(--brand-blue);
        color: white;
        font-weight: bold;
        height: 3rem;
        width: 3rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 50%;
        margin-left: 1rem;
        font-size: 1.3rem;
      }
      .mapIcon {
        background: url('../../assets/images/map.svg') no-repeat;
        background-position: center;
        background-size: 3rem;
      }
      .listIcon {
        background: url('../../assets/images/list.svg') no-repeat;
        background-position: center;
        background-size: 2rem;
      }
    }
  }
}

.dayWrapper {
  justify-content: center;
  height: 5rem;
  align-items: center;
  font-weight: 600;
  border-bottom: 1px solid var(--off-white);
}
