.landing-page {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em 'Mark Simonson - Proxima Nova Regular', 'Helvetica Neue',
    arial, sans-serif;
}

@media only screen and (max-width: 480px) {
  .landing-page {
    font-size: 100%;
  }
}

.landing-page article,
.landing-page aside,
.landing-page details,
.landing-page figcaption,
.landing-page figure,
.landing-page footer,
.landing-page header,
.landing-page main,
.landing-page menu,
.landing-page nav,
.landing-page section,
.landing-page summary {
  display: block;
}
.landing-page audio,
.landing-page canvas,
.landing-page progress,
.landing-page video {
  display: inline-block;
}
.landing-page audio:not([controls]) {
  display: none;
  height: 0;
}
.landing-page progress {
  vertical-align: baseline;
}
[hidden],
.landing-page template {
  display: none;
}
.landing-page a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.landing-page a:active,
.landing-page a:hover {
  outline-width: 0;
}
.landing-page bbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
.landing-page b,
.landing-page strong {
  font-weight: inherit;
  font-weight: bolder;
}
.landing-page dfn {
  font-style: italic;
}
.landing-page h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.landing-page mark {
  background-color: #ff0;
  color: #000;
}
.landing-page small {
  font-size: 80%;
}
.landing-page sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.landing-page sub {
  bottom: -0.25em;
}
.landing-page sup {
  top: -0.5em;
}
.landing-page img {
  border-style: none;
}
.landing-page svg:not(:root) {
  overflow: hidden;
}
.landing-page code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.landing-page figure {
  margin: 1em 40px;
}
.landing-page hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.landing-page button,
.landing-page input,
.landing-page optgroup,
.landing-page select,
.landing-page textarea {
  font: inherit;
  margin: 0;
}
.landing-page optgroup {
  font-weight: 700;
}
.landing-page button,
.landing-page input {
  overflow: visible;
}
.landing-page button,
.landing-page select {
  text-transform: none;
}
.landing-page [type='reset'],
.landing-page [type='submit'],
.landing-page button,
.landing-page html [type='button'] {
  -webkit-appearance: button;
}
.landing-page [type='button']::-moz-focus-inner,
.landing-page [type='reset']::-moz-focus-inner,
.landing-page [type='submit']::-moz-focus-inner,
.landing-page button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.landing-page [type='button']:-moz-focusring,
.landing-page [type='reset']:-moz-focusring,
.landing-page [type='submit']:-moz-focusring,
.landing-page button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.landing-page fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.landing-page legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
.landing-page textarea {
  overflow: auto;
}
.landing-page [type='checkbox'],
.landing-page [type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
.landing-page [type='number']::-webkit-inner-spin-button,
.landing-page [type='number']::-webkit-outer-spin-button {
  height: auto;
}
.landing-page [type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.landing-page [type='search']::-webkit-search-cancel-button,
.landing-page [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
.landing-page ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
.landing-page ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.landing-page img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.landing-page h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.landing-page h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  color: inherit;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.213056davrem;
  line-height: 1.1;
}
.landing-page h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  color: inherit;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.6davrem;
  line-height: 1.1;
}
.landing-page h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  color: inherit;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.360448davrem;
  line-height: 1.1;
}
.landing-page h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  color: inherit;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.25448davrem;
  line-height: 1.1;
}
.landing-page hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page ul {
  margin-left: 2.32davrem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  list-style-position: outside;
  list-style-image: none;
}
.landing-page ol {
  margin-left: 2.32davrem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  list-style-position: outside;
  list-style-image: none;
}
.landing-page dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: regular;
}
.landing-page figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2.32davrem;
  font-size: 1.36davrem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 2.32davrem;
}
.landing-page table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
  font-size: 1.6davrem;
  line-height: 2.32davrem;
  border-collapse: collapse;
  width: 100%;
}
.landing-page fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page blockquote {
  margin-left: 2.32davrem;
  margin-right: 2.32davrem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(2.32davrem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
.landing-page address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.32davrem;
}
.landing-page b {
  font-weight: bold;
}
.landing-page strong {
  font-weight: bold;
}
.landing-page dt {
  font-weight: bold;
}
.landing-page th {
  font-weight: bold;
}
.landing-page li {
  margin-bottom: calc(2.32davrem / 2);
}
.landing-page ol li {
  padding-left: 0;
}
.landing-page ul li {
  padding-left: 0;
}
.landing-page li > ol {
  margin-left: 2.32davrem;
  margin-bottom: calc(2.32davrem / 2);
  margin-top: calc(2.32davrem / 2);
}
.landing-page li > ul {
  margin-left: 2.32davrem;
  margin-bottom: calc(2.32davrem / 2);
  margin-top: calc(2.32davrem / 2);
}
.landing-page blockquote *:last-child {
  margin-bottom: 0;
}
.landing-page li *:last-child {
  margin-bottom: 0;
}
.landing-page p *:last-child {
  margin-bottom: 0;
}
.landing-page li > p {
  margin-bottom: calc(2.32davrem / 2);
}
.landing-page code {
  font-size: 1.36davrem;
  line-height: 2.32davrem;
}
.landing-page kbd {
  font-size: 1.36davrem;
  line-height: 2.32davrem;
}
.landing-page samp {
  font-size: 1.36davrem;
  line-height: 2.32davrem;
}
.landing-page abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
.landing-page acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
.landing-page abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
.landing-page thead {
  text-align: left;
}
.landing-page td,
.landing-page th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  -webkit-font-feature-settings: 'tnum';
  padding-left: 1.546672davrem;
  padding-right: 1.546672davrem;
  padding-top: 1.16davrem;
  padding-bottom: calc(1.16davrem - 1px);
}
.landing-page th:first-child,
.landing-page td:first-child {
  padding-left: 0;
}
.landing-page th:last-child,
.landing-page td:last-child {
  padding-right: 0;
}
.landing-page tt,
.landing-page code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.landing-page pre code {
  background: none;
  line-height: 1.42;
}
.landing-page code:before,
.landing-page code:after,
.landing-page tt:before,
.landing-page tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}
.landing-page pre code:before,
.landing-page pre code:after,
.landing-page pre tt:before,
.landing-page pre tt:after {
  content: '';
}
